html {
    font-size: 62.5% !important;
}
@media (min-width: 992px) {
    html {
        font-size: 75% !important;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 100% !important;
    }
}
@media (min-width: 2000px) {
    html {
        font-size: 120% !important;
    }
}

body {
	background-color: #f0d175;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
}

.container-fluid-height {
    min-height: 100%;
}
.containing-row{
    min-height: 100%;
}

.character_picker {            

}

.char_data {
    height:5%;
}

.armor_container{
	height: 10%;
}

.skill_container {
	height: 25%;
}
.attribute_container {
	height: 25%;
}

.weapons_container{
	height: 25%;
}

.weapon_equipped{
	background-color: #66ff33;
}
.unequipped{
	background-color: #ff3300;
}